@font-face {
  font-family: "Oleo";
  src: url(../assets/Oleo_Script/OleoScript-Regular.ttf);
}

nav {
  background-color: #efefef !important;
}

body {
  margin: 0;
  background-color: #f7f7f7;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  box-shadow: 4px 4px 20px 5px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
}

.container-fluid {
  height: 100%;
  position: relative;
}

.navbar-brand {
  font-family: "Oleo";
  font-size: 48px;
  text-shadow: 2px 2px 5px #a3a3a3 !important;
}

.nav-link {
  font-size: large;
}

.btn {
  box-shadow: 0px 0px 3px #a3a3a3;
}

.btn-primary {
  --bs-btn-bg: #ff8a00;
  --bs-btn-border-color: #ff8a00;
  --bs-btn-hover-bg: #ec7e00;
  --bs-btn-hover-border-color: #ec7e00;
  --bs-btn-active-bg: #ec7e00;
  --bs-btn-active-border-color: #ec7e00;
  box-shadow: 0px 0px 3px #a3a3a3;
}

.booking-details {
  color: #733e00;
  height: 100%;
}

.room-name {
  padding: 36px;
  background-color: #ffbb55;
  border-radius: 16px;
  font-size: 2rem;
  box-shadow: 4px 4px 20px 5px rgba(0, 0, 0, 0.1);
}

.room-others {
  padding: 36px;
  background-color: #fff5e4;
  border-radius: 16px;
  font-size: 1.2rem;
  box-shadow: 4px 4px 20px 5px rgba(0, 0, 0, 0.1);
}

.owner-details {
  padding: 24px;
  background-color: #fff5e4;
  border-radius: 16px;
  font-size: 1.2rem;
  box-shadow: 4px 4px 20px 5px rgba(0, 0, 0, 0.1);
}

.footer {
  background-color: #3c3c3c;
  color: #ffffff;
  padding-top: 4px;
  padding-bottom: 4px;
}
