@font-face {
  font-family: "Oleo";
  src: url(../assets/Oleo_Script/OleoScript-Regular.ttf);
}

nav {
  background-color: #efefef !important;
  margin: 0;
}

.navbar-brand {
  font-family: "Oleo";
  font-size: 48px;
  text-shadow: 2px 2px 5px #a3a3a3 !important;
}

.nav-link {
  font-size: large;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0;
  background-color: #f7f7f7;
}

.btn-primary {
  --bs-btn-bg: #ff8a00;
  --bs-btn-border-color: #ff8a00;
  --bs-btn-hover-bg: #ec7e00;
  --bs-btn-hover-border-color: #ec7e00;
  --bs-btn-active-bg: #ec7e00;
  --bs-btn-active-border-color: #ec7e00;
  box-shadow: 0px 0px 3px #a3a3a3;
}

/* booking modal (aka popup) css */

.modal-footer {
  justify-content: center;
  width: 100%;
  flex-shrink: 0;
  padding-bottom: 0;
}

.banner {
  /* background-color: ; */
  width: 100%;
  height: 200px;
  border: solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.pr-booking-div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* border: solid black; */
  padding: 20px;
  margin-bottom: 20px;
  /* background-color: aqua; */
}

/* top */
.partyroom-name {
  /* background-color: brown; */
  font-size: 40px;
}

.details-main-container {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid black; */
  width: 100%;
}

/* 場地資訊 */
.room-details {
  width: 50vh;
  height: 20vh;
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 2%;
}

.equipments {
  width: 50vh;
  height: 10vh;
  border: 1px solid black;
  margin-top: 30px;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 2%;
}

/* 左邊 */

.room-image {
  width: 55vh;
  height: 35vh;
  /* border: 1px solid black; */
}
img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.room-owner {
  width: 50vh;
  height: 10vh;
  border: 1px solid black;
  margin-top: 30px;
}

.footer {
  display: flex;
  position: fixed;
  bottom: 0px;
  justify-content: center;
}

/* Comment */
.comment-area {
  margin: 2%;
}
.comment-container {
  background-color: #ffefc5;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
textarea {
  margin-left: 3%;
  width: 92%;
}
.rating-div {
  display: flex;
  justify-content: space-evenly;
}
.commentBox {
  margin-top: 2%;
}
.commentBar {
  width: 90%;
  margin: 3% 3% 5% 3%;
  padding: 2%;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
}

.footer {
  background-color: #3c3c3c;
  color: #ffffff;
  padding-top: 4px;
  padding-bottom: 4px;
}
