/* partyrooms_details.css */

.header {
  display: flex;
  justify-content: space-between;
  background-color: aqua;
  width: 100%;
}

.banner {
  /* background-color: ; */
  width: 100%;
  height: 200px;
  border: solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pr-booking-div {
  width: 40%;
  display: flex;
  justify-content: space-between;
  border: solid black;
  padding: 20px;
}

.partyroom-name {
  /* background-color: brown; */
  font-size: 40px;
}

.booking-now {

}

.footer {
    display: flex;
    position: fixed;
    bottom: 0px;
    justify-content: center;
}