@font-face {
  font-family: "Oleo";
  src: url(../assets/Oleo_Script/OleoScript-Regular.ttf);
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0;
  background-color: #f7f7f7;
}

.navbar {
  display: flex;
  background-color: #efefef !important;
}

.navbar-brand {
  font-family: "Oleo";
  font-size: 48px;
  text-shadow: 2px 2px 5px #a3a3a3 !important;
}

.nav-link {
  text-shadow: 2px 2px 18px #a3a3a3;
  font-size: large;
}

.btn-primary {
  --bs-btn-bg: #ff8a00;
  --bs-btn-border-color: #ff8a00;
  --bs-btn-hover-bg: #ec7e00;
  --bs-btn-hover-border-color: #ec7e00;
  --bs-btn-active-bg: #ec7e00;
  --bs-btn-active-border-color: #ec7e00;
}

form {
  margin-left: 7.5% !important;
  margin-right: 7.5% !important;
}

input {
  background-color: #eeeeee !important;
  border: solid 0.5px #999999 !important;
}

textarea {
  background-color: #eeeeee !important;
  border: solid 0.5px #999999 !important;
}

/* top side information */
.top-info {
  display: flex;
  justify-content: space-between;
}

/* middle side information */
.mid-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer {
  background-color: #3c3c3c;
  color: #ffffff;
  padding-top: 4px;
  padding-bottom: 4px;
}
