@font-face {
  font-family: "Oleo";
  src: url(../assets/Oleo_Script/OleoScript-Regular.ttf);
}

h1 {
  font-family: "Oleo";
  font-size: 56px;
}

body {
  margin: 0;
  background-color: #f7f7f7;
}

a {
  text-decoration: none;
  color: inherit;
}

.container-fluid {
  position: relative;
  height: 100%;
}

.header {
  display: flex;
  align-items: center;
  font-size: large;
}

.btn-primary {
  --bs-btn-bg: #ff8a00;
  --bs-btn-border-color: #ff8a00;
  --bs-btn-hover-bg: #ec7e00;
  --bs-btn-hover-border-color: #ec7e00;
  --bs-btn-active-bg: #ec7e00;
  --bs-btn-active-border-color: #ec7e00;
}

.banner {
  display: flex;
  height: 24vh;
  background-color: rgb(226, 182, 182);
  background-image: url(../assets/banner_image.png);
  align-items: center;
  text-align: center;
}

.banner-text {
  background-color: rgba(255, 255, 255, 0.667);
  padding-top: 2vh;
  padding-bottom: 2vh;
  border-radius: 16px;
  font-size: 32px;
}

.main-content-button {
  padding: 15px 15px;
  border-radius: 16px;
  height: fit-content;
  background-color: #ffbb55;
  box-shadow: 2px 2px 10px #a3a3a3;
  font-size: 130%;
  color: #764000;
}

.button-row {
  height: 12vh;
}

.partyroom-card {
  box-shadow: 1px 1px 10px #a3a3a3;
}

.footer {
  background-color: #3c3c3c;
  color: #ffffff;
  padding-top: 4px;
  padding-bottom: 4px;
}
