.header {
  display: flex;
  justify-content: space-between;
  background-color: aqua;
  width: 100%;
}
.banner {
  /* background-color: ; */
  width: 100%;
  height: 200px;
  border: solid black;
  text-align: center;
}
.filter-title {
  /* background-color: brown; */
  margin-top: 6%;
  font-size: 40px;
}

.information {
  margin-left: 5%;
  margin-right: 5%;
}
.venue-check {
  border: solid black;
  width: 25%;
  height: 70px;
  margin-top: 3%;
  border-radius: 20px;
}
.venue-check-title {
  font-size: 20px;
  text-align: center;
}
.roomInfo-photo {
  display: flex;
  justify-content: space-between;
  margin-top: 10%;
}
.roomInfo-photo-title {
  border: solid black;
  width: 20%;
  height: 200px;
  text-align: center;
  border-radius: 20px;
}
